@charset "UTF-8";
body {
  font-family: 'Rajdhani', sans-serif;
}

@media (min-width: 1024px) {
  :root {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  :root {
    font-size: calc(1rem + ((1vw - 7.68px) * 1.5625));
  }
}

@media (max-width: 479px) {
  :root {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.fadeIn {
  opacity: 0.3;
  transform: translate(0, 10vh);
  transition: all 1s;
  -webkit-transform: translate(0, 10vh);
  -moz-transform: translate(0, 10vh);
  -ms-transform: translate(0, 10vh);
  -o-transform: translate(0, 10vh);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

/* 画面内に入った状態 */
.fadeIn.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.section-title {
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
}

.content-block {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  margin: 0 auto;
  padding: 40px 30px;
}

.TopVisual {
  position: relative;
  background: #F7F7F7;
  color: #333333;
  height: 100vh;
}

.TopVisual__inner {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

@media (max-width: 479px) {
  .TopVisual__inner {
    width: 80%;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
  }
}

.TopVisual__inner h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-size: 1.875rem;
}

.TopVisual__inner p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.TopVisual .effect-fade__text {
  animation: fadeInText 4s ease-in 0s 1 normal;
  -webkit-animation: fadeInText 4s ease-in 0s 1 normal;
  animation: fadeInText 4s ease-in 0s 1 normal;
  -webkit-animation: fadeInText 4s ease-in 0s 1 normal;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.TopVisual .leftBack {
  position: absolute;
  opacity: .5;
}

@media (max-width: 479px) {
  .TopVisual .leftBack {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 100vw 0 0;
    border-color: #333 transparent transparent transparent;
    animation: SpfadeInBack 4s ease-in 0s 1 normal;
    -webkit-animation: SpfadeInBack 4s ease-in 0s 1 normal;
  }
  @keyframes SpfadeInBack {
    0% {
      opacity: 0;
      transform: translate3d(-100vw, 0, 0);
      -webkit-transform: translate3d(-100vw, 0, 0);
      -moz-transform: translate3d(-100vw, 0, 0);
      -ms-transform: translate3d(-100vw, 0, 0);
      -o-transform: translate3d(-100vw, 0, 0);
    }
    100% {
      opacity: .5;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .TopVisual .leftBack {
    top: 0;
    left: 0;
    width: 50%;
    height: 40%;
    background: #333;
    animation: LeftfadeInBack 4s ease-in 0s 1 normal;
    -webkit-animation: LeftfadeInBack 4s ease-in 0s 1 normal;
  }
  @keyframes LeftfadeInBack {
    0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
    }
    100% {
      opacity: .5;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
}

@media (min-width: 1024px) {
  .TopVisual .leftBack {
    top: 0;
    left: 0;
    width: 50%;
    height: 40%;
    background: #333;
    animation: LeftfadeInBack 4s ease-in 0s 1 normal;
    -webkit-animation: LeftfadeInBack 4s ease-in 0s 1 normal;
  }
  @keyframes LeftfadeInBack {
    0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
    }
    100% {
      opacity: .5;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
}

.TopVisual .rightBack {
  position: absolute;
  opacity: .5;
  animation: RightfadeInBack 4s ease-in 0s 1 normal;
  -webkit-animation: RightfadeInBack 4s ease-in 0s 1 normal;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .TopVisual .rightBack {
    top: 60%;
    right: 0;
    width: 80%;
    height: 10%;
    background: #333;
  }
  @keyframes RightfadeInBack {
    0% {
      opacity: 0;
      transform: translate3d(100vw, 0, 0);
      -webkit-transform: translate3d(100vw, 0, 0);
      -moz-transform: translate3d(100vw, 0, 0);
      -ms-transform: translate3d(100vw, 0, 0);
      -o-transform: translate3d(100vw, 0, 0);
    }
    100% {
      opacity: .5;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
}

@media (min-width: 1024px) {
  .TopVisual .rightBack {
    top: 60%;
    right: 0;
    width: 80%;
    height: 10%;
    background: #333;
  }
  @keyframes RightfadeInBack {
    0% {
      opacity: 0;
      transform: translate3d(100vw, 0, 0);
      -webkit-transform: translate3d(100vw, 0, 0);
      -moz-transform: translate3d(100vw, 0, 0);
      -ms-transform: translate3d(100vw, 0, 0);
      -o-transform: translate3d(100vw, 0, 0);
    }
    100% {
      opacity: .5;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
}

.TopVisual .scroll {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

@media (max-width: 479px) {
  .TopVisual .scroll {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
  }
}

.TopVisual .scroll a {
  font-size: 16px;
  font-size: 1rem;
  animation: fadeInText 4s ease-in 0s 1 normal;
  -webkit-animation: fadeInText 4s ease-in 0s 1 normal;
  color: #333333;
  z-index: 2;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.TopVisual .scroll span {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  width: 50px;
  height: 50px;
  border: 1px solid #505050;
  animation: wave 3s infinite;
  -webkit-animation: wave 3s infinite;
}

@keyframes wave {
  0% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.8;
  }
  90% {
    opacity: 0;
    box-shadow: 0 0 10px 30px #969696;
  }
  100% {
    opacity: 0;
  }
}

.TopVisual .scroll span::after {
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  content: '';
  position: absolute;
  top: 15px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 15px 0 15px;
  border-color: rgba(80, 80, 80, 0.5) transparent transparent transparent;
}

.Header {
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #333333;
  box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.Header .Header-inner {
  font-size: 0;
}

@media (max-width: 479px) {
  .Header .Header-inner__list {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #EAEAEA;
    border-top: 0;
    font-size: 14px;
    font-size: 0.875rem;
    width: calc(100% / 3);
  }
  .Header .Header-inner__list a {
    color: #EAEAEA;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .Header .Header-inner__list {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #EAEAEA;
    border-top: 0;
    font-size: 16px;
    font-size: 1rem;
    width: calc(100% / 6);
  }
  .Header .Header-inner__list a {
    color: #EAEAEA;
  }
}

@media (min-width: 1024px) {
  .Header .Header-inner__list {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #EAEAEA;
    border-top: 0;
    font-size: 16px;
    font-size: 1rem;
    width: calc(100% / 6);
  }
  .Header .Header-inner__list a {
    color: #EAEAEA;
  }
}

.Header .Header-inner__list:hover {
  background: #cfcfcf;
}

.Header .Header-inner__list:hover a {
  color: #424242;
}

.About {
  background: #F7F7F7;
  color: #333333;
  margin-bottom: 70vh;
}

.About .About-flex {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  font-size: 1rem;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

@media (max-width: 479px) {
  .About .About-flex {
    flex-direction: column;
  }
  .About .About-flex__photo {
    max-width: 200px;
    margin: 0 auto;
  }
  .About .About-flex__photo img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .About .About-flex__text {
    margin-top: 30px;
  }
  .About .About-flex__text--name {
    text-align: center;
    margin: 20px 0;
    position: relative;
  }
  .About .About-flex__text--name::after {
    position: absolute;
    content: '';
    width: 80%;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    height: 1px;
    background: #333;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .About .About-flex {
    justify-content: space-around;
    align-items: center;
  }
  .About .About-flex__photo {
    width: 30%;
  }
  .About .About-flex__photo img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .About .About-flex__text {
    width: 50%;
    margin-top: 30px;
    line-height: 1.5;
  }
  .About .About-flex__text--name {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
  }
  .About .About-flex__text--name::after {
    position: absolute;
    content: '';
    width: 70%;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    height: 1px;
    background: #333;
  }
}

@media (min-width: 1024px) {
  .About .About-flex {
    justify-content: space-around;
    align-items: center;
  }
  .About .About-flex__photo {
    width: 30%;
  }
  .About .About-flex__photo img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .About .About-flex__text {
    width: 50%;
    margin-top: 30px;
    line-height: 1.5;
  }
  .About .About-flex__text--name {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
  }
  .About .About-flex__text--name::after {
    position: absolute;
    content: '';
    width: 70%;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    height: 1px;
    background: #333;
  }
}

.About .About__theme {
  margin-top: 30px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2;
}

.About .About__link {
  margin-top: 30px;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
}

.About .About__link .About__link-button {
  margin-top: 30px;
  display: inline-block;
  position: relative;
}

.About .About__link .About__link-button button {
  padding: 20px;
  position: relative;
  background: #F7F7F7;
  border: none;
}

.About .About__link .About__link-button .border {
  position: absolute;
  background: none;
  transition: all .5s ease-in-out;
}

.About .About__link .About__link-button .border:nth-of-type(1) {
  top: 0;
  left: 0;
  border-left: 1px solid #333333;
  border-top: 1px solid #333333;
  width: 30px;
  height: 30px;
}

.About .About__link .About__link-button .border:nth-of-type(2) {
  bottom: 0;
  right: 0;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  width: 30px;
  height: 30px;
}

.About .About__link .About__link-button:hover .border {
  width: 105%;
  height: 110%;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
  background-image: url(../img/Canal.jpeg);
}

@media (max-width: 479px) {
  body::before {
    background-image: url(../img/sptower.jpeg);
  }
}

.Service {
  display: block;
  background: #c0bebe;
  color: #EAEAEA;
  font-size: 14px;
  font-size: 0.875rem;
  height: 600px;
}

.Work {
  background: #F7F7F7;
  color: #333333;
  font-size: 14px;
  font-size: 0.875rem;
  height: 600px;
}

.Price {
  background: #c0bebe;
  color: #EAEAEA;
  font-size: 14px;
  font-size: 0.875rem;
  height: 600px;
}

.Contact {
  background: #F7F7F7;
  color: #333333;
  font-size: 14px;
  font-size: 0.875rem;
  height: 600px;
}

.Footer {
  background: #c0bebe;
  color: #EAEAEA;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
