// ・・・・・・・・・contact・・・・・・・・・
.Contact {
  display: block;
  @include white;
  margin: 0 auto;

  .Contact__text {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 2rem auto;
    line-height: 1.5;
  }

  .Contant__sns {
    text-align: center;
    margin: 0 auto;
    a {
      color: #333;
    }
  }
  .Contant__sns:hover {
    cursor: pointer;
  }
}