// ・・・・・・・・・contact・・・・・・・・・
.Contact {
  display: block;
  @include white;
  margin: 0 auto;

  .Contact__text {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: 2rem auto;
    line-height: 1.5;
  }


  &__area {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    @include pc {
    display: flex;
    align-items: center;
      &-left {
        width: 50%;
        }
      &-right {
        width: 50%;
        height: 100%;
        }
      }
    }


  &__block {
    margin-top: 2rem;
    span {
      margin-left: 2rem;
    }

    .label {
      display: block;
      text-align: left;
    }
  }

  .inputs {
    width: 90%;
    padding: 1rem;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 1px solid #333333;
    background: #F7F7F7;
    @include fontsize(16);

    &:focus {
      outline: none;
      box-shadow: 0 3px 3px #7a7979;
    }
  }
  .textarea {
    width: 90%;
    height: 8rem;
    @include pc {
      height: 20rem;
    }
    margin-top: 1rem;
    border: 1px solid #333333;
    background: #F7F7F7;
    @include fontsize(16);

    &:focus {
      outline: none;
      box-shadow: 0 3px 3px #7a7979;
    }
  }

  
  &__block-btn {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__block-send {
    margin-right: 3rem;
    @include sp {
      margin-right: 1rem;
    }
    padding: 0.5rem 1rem;
    border: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #F7F7F7;
    @include fontsize(16);
    cursor: pointer;
    transition: all .3s;
  }
  &__block-send:hover {
    box-shadow: 0 3px 3px #7a7979;
    transform: translateY(-3px);
  }
  &__block-send:focus {
    outline: none;
  }

  &__block-reset {
    margin-right: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #F7F7F7;
    @include fontsize(16);
    cursor: pointer;
    transition: all .3s;
  }
  &__block-reset:hover {
    box-shadow: 0 3px 3px #7a7979;
    transform: translateY(-3px);
  }
  &__block-reset:focus {
    outline: none;
  }

  .Contant__sns {
    text-align: center;
    a {
      color: #333;
    }
  }
  .Contant__sns:hover {
    cursor: pointer;
  }
}