// ・・・・・ブロック単位でフェードイン①（透過）・・・・・・・・・
.fadeInopacity {
  opacity: 0;
  transition: all 4s;
  -webkit-transition: all 4s;
  -moz-transition: all 4s;
  -ms-transition: all 4s;
  -o-transition: all 4s;
}

/* 画面内に入った状態 */
.fadeInopacity.scrollIn {
  opacity: 1;
}

// ・・・・・ブロック単位でフェードイン②（下から浮かび上がってくる）・・・・・・・・・
.fadeIn {
  opacity: .3;
  transform: translate(0, 15vh);
  transition: all 1.3s;
  -webkit-transform: translate(0, 20vh);
  -moz-transform: translate(0, 20vh);
  -ms-transform: translate(0, 20vh);
  -o-transform: translate(0, 20vh);
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -ms-transition: all 1.3s;
  -o-transition: all 1.3s;
}

/* 画面内に入った状態 */
.fadeIn.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}