// ・・・・・・・・・work・・・・・・・・・
.Work {
  display: block;
  @include white;

  .Work__text {
    @include fontsize(14);
    margin-top: 2rem;
    text-align: center;
  }

  .Work__capture {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .work__capture-img {
      display: flex;
      position: relative;
      width: 40%;
      max-width: 20rem;
      height: 15rem;
      @include sp {
        width: 20rem;
        height: 20rem;
      }
      margin: 1rem;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid #c0bebe;
      box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.1);
      -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.1);
    }

    .caption {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background: rgba($color: #333, $alpha: .5);
      color: #EAEAEA;

      .modal-link {
        position: absolute;
        top: 70%;
        @include fontsize(12);
        width: 100%;
        text-align: center;
        padding: 1rem;
        background: rgba($color: #333, $alpha: .7);
        cursor: pointer;
      }
    }
  }

  .Work__capture-link {
    display: block;
    margin: 3rem auto 0;
    text-align: center;
    width: 20%;
    color: #333;
  }
}

// モーダルウィンドウ
.overlay {
  display: none;
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.modal-window {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
    @include tab {
      top: 10%;
      left: 50%;
    }
    @include sp {
      top: 15vh;
      left: 50%;
    }
  @include centertransform;
  padding: 1rem;
  @include fontsize(14);
  border: 1px solid #333;
  color: #333;
  background: rgba($color: #333, $alpha: .9);
  z-index: 110;

  &__wrap {
    overflow: scroll;
    @include sp {
      width: 80vw;
      height: 25rem;
    }
    
  }

  &__text {
    padding: 1rem;
    line-height: 1.5;
    color: #F7F7F7;
    a {
      color: #F7F7F7;
      text-decoration: underline;
    }
  }

  &__about {
    margin-bottom: .5rem;
  }
  &__about:last-child {
    margin-bottom: 0;
  }

  .modal-switch {
    display: flex;
    justify-content: center;

    &__btn {
      text-align: center;
      margin: 1rem auto;
      width: 40%;
      padding: 0.5rem 1rem;
      border: none;
      color: #F7F7F7;
      border: 1px solid #F7F7F7;
      cursor: pointer;
      transition: .5s;
    }
    &__btn:hover {
      background: rgba($color: #F7F7F7, $alpha: .9);
      color: #333;
    }
  }


}